Plug 'easymotion/vim-easymotion'

set easymotion
set sneak
set surround
set is
set showmode
set showcmd
set hlsearch
set highlightedyank
set relativenumber
set number

set smartindent
set scrolloff=8

let g:highlightedyank_highlight_color = "rgba(213, 15, 255, 155)"
let g:highlightedyank_highlight_duration = "800"
" let g:incsearch#auto_nohlsearch = 1


let mapleader = " "
"map <Leader> <Plug>(easymotion-prefix)
" nmap f <Plug>(easymotion-f)
" disable all default mapping of easymotion
let g:EasyMotion_do_mapping=0

map <leader><leader>F <Plug>(easymotion-F)
map <leader><leader>f <Plug>(easymotion-bd-f)


inoremap jj <Esc>

vnoremap J :action MoveLineDown<CR>
vnoremap K :action MoveLineUp<CR>

" J delete line below, remap allow to keep the cursor same place
nnoremap J mzJ`z

" delete (copy to void) paste
nnoremap <leader>p viw"_dP
xnoremap <leader>p "_dP

" delete without copy
nnoremap <leader>d "_d
vnoremap <leader>d "_d
nnoremap <leader>x "_x
vnoremap <leader>x "_x
nnoremap <leader>c "_c
vnoremap <leader>c "_c

"end/beginning of line
nnoremap gl $
vnoremap gl $
nnoremap gh _
vnoremap gh _

" redo
nnoremap U :action $Redo<CR>


nnoremap <leader>h :nohl<CR>

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" markers
nnoremap <leader>t1 :action ToggleBookmark1<CR>
nnoremap <leader>t2 :action ToggleBookmark2<CR>
nnoremap <leader>t3 :action ToggleBookmark3<CR>
nnoremap <leader>t4 :action ToggleBookmark4<CR>

nnoremap <leader>1 :action GotoBookmark1<CR>
nnoremap <leader>2 :action GotoBookmark2<CR>
nnoremap <leader>3 :action GotoBookmark3<CR>
nnoremap <leader>4 :action GotoBookmark4<CR>


nnoremap gd :action GotoDeclaration<CR>
nnoremap <leader>fs :action Find<CR>
nnoremap <leader>ff :action FindInPath<CR>
nnoremap <leader>fr :action FindUsages<CR>

map <leader>g :action GotoLine<CR>
map <leader>u :action GotoSuperMethod<CR>
map <leader>v :action EditorCreateRectangularSelection<CR>
map <leader>w :action EditorSelectWord<CR>

map <leader><Right> :action NextTab<CR>
map <leader><Left> :action PreviousTab<CR>


map <leader>tt :action ActivateTerminalToolWindow<CR>


set clipboard+=unnamed
